:host {
    margin: 0.5rem;
}

.tile {
    display: inline-block;
    padding: 0.2rem;
    margin: 0.2rem;
    line-height: 0;

    >* {
        margin: 0;
    }

    border: {
        width: 0.1rem;
        style: solid;
        color: black;
        radius: 0.2rem;
    }

    &:hover {
        transform: scale(105%);
        cursor: pointer;
    }

    &:active {
        transform: translateY(0.1rem);
    }
}

.icon {
    width: 7vmin;
    height: 7vmin;
}
