:host {

    position: relative;
    margin: 0.5rem;
    width: 80%;
    max-width: 16rem;
    height: 12rem;
    background-color: lightgrey;
    border-radius: 0.5rem;

    &:hover {
        transform: scale(105%);
        cursor: pointer;
    }

    &:active {
        transform: translateY(0.1rem);
    }
}

.clickable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.player-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: {
        bottom: 0.5rem;
    }
}

.player-element,
.more-element {

    box-sizing: border-box;
    width: 90%;

    padding: {
        top: 0.1rem;
        bottom: 0.1rem;
        left: 1rem;
        right: 1rem;
    }

    margin: 0.1rem;

    border-radius: 2rem;

    p {
        line-height: 0;
    }
}

.player-element {
    background-color: white;
}

.more-element {
    background-color: none;
}

#heading {
    line-height: 0.1rem;
}
