<app-header></app-header>
<div id="main-content">
    <div id="information-container">
        <app-rules></app-rules>
    </div>
    <app-grid></app-grid><!--Make it so that you can pass grid size into the tag here.-->
    <div id="control-container">
        <app-button backgroundColour="black" colour="white" text="Sheets"></app-button>
        <app-choose-queue></app-choose-queue>
        <app-button backgroundColour="black" colour="white" text="Player Orderer"></app-button>
        <app-button backgroundColour="#00ff00" colour="black" text="Random Cell"></app-button>
    </div>
</div>
<ng-template #windowContainer></ng-template>
