@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --color-dark: #171717;
  --color-light: #ffffff;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*  }*/
/*}*/

@theme inline {
  --color-dark: var(--color-dark);
  --color-light: var(--color-light);
  --font-pirate: var(--font-dr-sugiyama);
}

button {
  @apply rounded-md border-2 border-gray-500 hover:border-red-500;
}
