@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --color-dark: #171717;
  --color-light: #ffffff;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*  }*/
/*}*/

@theme inline {
  --color-dark: var(--color-dark);
  --color-light: var(--color-light);
  --font-pirate: var(--font-dr-sugiyama);
}

button {
  @apply hover:cursor-pointer;
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.player-item {
  @apply px-[0.5em] py-[0.25em] rounded-[0.25em] w-[10em];

  & div {
    @apply text-nowrap overflow-hidden text-ellipsis select-none h-lh;
  }

  & input {
    @apply text-nowrap overflow-hidden select-none w-full h-lh;
  }
}
