@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --color-dark: #171717;
  --color-light: #ffffff;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*  }*/
/*}*/

@theme inline {
  --color-dark: var(--color-dark);
  --color-light: var(--color-light);
  --font-pirate: var(--font-dr-sugiyama);
}

button {
  @apply hover:cursor-pointer;
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
