:host {
    display: flex;
    flex-direction: column;
}

.player-list {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.scrollable {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 12rem;

    border: {
        width: 0.1rem;
        style: solid;
        color: lightgrey;
    }
}

.material-symbols-outlined {
    cursor: pointer;
}

.player-list-element {
    box-sizing: border-box;
    width: 16rem;
    border-radius: 2rem;
    background-color: lightgrey;

    padding: {
        left: 1rem;
        right: 1rem;
    }
}

.player-list-element-content {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.remove-button,
.add-button {
    margin: {
        left: auto;
    }
}

.new {
    background-color: #67b007;
    color: white;
}

span {
    display: inline-block;
}

p {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

input {
    margin: 0.5rem;

    padding: {
        top: 0.5rem;
        bottom: 0.5rem;
        left: 1rem;
        right: 1rem;
    }

    border: none;
    border-radius: 1rem;
    min-width: 4rem;
}
