:host {
    display: block;
    margin: 0.2rem;
    background-color: white;
    border-radius: 0.2rem;

    &:hover {
        background-color: lightgrey;
    }

    * {
        user-select: none;
    }

    p {
        margin: 0.5rem;
    }
}
