:host {
    display: block;
    margin: 0.2rem;
    background-color: white;
    border-radius: 0.2rem;

    &:hover {
        cursor: pointer;
        transform: scale(105%);
    }

    &:active {
        transform: translateY(0.1rem);
    }

    * {
        user-select: none;
    }

    p {
        margin: 0.5rem;
    }
}
